
<iframe class="failVideos" width="560" height="315" src="https://www.youtube.com/embed/<%= video.url %>" frameborder="0" allowfullscreen></iframe>
<div id="showDetails">
	<h1>Description</h1>
	<p><%= video.description%></p>
	<p>FAIL LEVEL<%= video.failevel%></p>
	<p class="nsfw">nsfw>: <%= video.nsfw%></p>

	<a class="btn editBtn" href="/<%= video.id %>/edit">edit</a>
	<form class="delete" action="/<%= video.id %>" method="post">
	  <input type="hidden" name="_method" value="delete">
	  <input class="btn" type="submit" value="delete">
	</form>
</div>
